<html>
    <head>
        <title>
            PokemonOdinProject
        </title>
    </head>
    <body>
        <h1>Pokemon Game Express Project</h1>
        <a href="/poke">
            Pokemon part
        </a>
        <br>
        <a href="/train">
            Trainer part
        </a>
    </body>
</html>