<html>
    <head>
        <title>
            Create Trainer
        </title>
    </head>
    <body>
        <h1>Create trainer</h1>
        <form action="/train/create" method="post">
            <label for="trainerName">Name: </label>
            <input type="text" name="trainerName" required>

            <label for="age">Age: </label>
            <input type="number" name="age">

            <button type="submit">Create trainer</button>
        </form>
    </body>
</html>