<html>
    <head>
        <title>Transfer Pokemon</title>
        <link rel="stylesheet" href="http://localhost:3000/stylesheets/style.css">
    </head>
    <body>
        <h1>Transfer Pokemon</h1>
        <h2>Trainers</h2>
        <ul>
            <% trainers && trainers.forEach((trainer)=>{ %>
                <li>
                    <div onCLick="transferPokemon('<%= trainer.id %>')">
                        <%= trainer.name %>
                    </div>
                </li>
            <% }) %>

        </ul>

        <script>
            //TODO fix this -> showing error message -> cannot get...
            const transferPokemon = async (id)=>{
                try{
                    await fetch(window.location.href + id, {
                        method: "POST"
                    })
                    
                }catch(err){
                    console.log(err);
                }
            }
        </script>
    </body>
</html>